.logo {
  width: 134px;
  height: 84px;
  padding: 13px 127px 26px 32px;
}

.cabecalho {
  width: 100%;
  height: 123px;
  background-color: #8e8e93;
  font-style: Sora;
  font-size: 30px;
  /* text-transform: uppercase;
  font-weight: normal;
  display: flex;
  gap: 127px;
  row-gap: 10px;
  flex-direction:row
  justify-content: flex-start;
  align-items: baseline; */
}

.quadrado_1 {
  width: 100%;
  height: 967px;
  background-image: url("/Images/Fundo_site.png");
  background-size: cover;
  padding: 0%;
  margin: 0%;
}

.rodape {
  width: 100%;
  height: 206px;
}

/*criado apenas teste e iniciar as estilizações
*/

/* Para comentar trechos utiliza-se o atalho CTRL+; */

/* Se não criar um arquivo a parte para CSS - styles.css, no index.html,
tudo que você colocar em <style> AQUI </style> será estilizado */
